[submodule "crece-blog/themes/hello-friend-ng"]
	path = crece-blog/themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "CRECE-Blog/themes/hello-friend-ng"]
	path = CRECE-Blog/themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
